#header.fixed-top nav#nav-standard ul.navbar-nav li a.focus {
background-image: url(../img/tagsis/stickly_menu_focus.png);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
}
  
#header nav#nav-standard ul.navbar-nav li a.focus {
background-position: 0 -20px;
}

.mobile-cat.focus {
  background-image: url("https://dsm01pap002files.storage.live.com/y4pUEtenvSChdmVAZoJ41riysmHSuhyYz0jQkdDBL8FlEnYGGPEOHQ1mAfwKoDEslxy_nSUfWLdscZRbAGJgo-dKTgxEQec4yhHuMoHyNQZYk5jH59Fgy2T1o6q8LIQh6eu4aFgH7qqNnSRuyJSvQ35JKOfui2cnXOKV6qyhWCpOT0nPNu0PdDAfYmpoOS3OhKj2yojuLiQKFErO6_rcSROPrS3TeNTP9KeG5FZ5dhOMsg/cat-focus.png?psid=1&width=379&height=61");
}

#header #nav-standard-mobile {
  display: none;
  background-color: #FEEEF2;
}

#header #nav-standard-mobile a.navbar-brand:hover {
  color: black;
}

#header #nav-standard-mobile a.navbar-brand {
  color: grey;
}

#header #nav-social-mobile {
  display: none;
  background-color: #FEDFDD;
}

.navbar-brand.abs1
    {
        position: absolute;
        width: 100%;
        left: 50px;
        text-align: center;
    }

.navbar-brand.abs2
    {
        position: absolute;
        width: 100%;
        left: 150px;
        text-align: center;
    }

.navbar-brand.abs3
    {
        position: absolute;
        width: 100%;
        left: 250px;
        text-align: center;
    }

#header .search-mobile-container input::placeholder {
  color: #fff;
  text-align: center;
}

.create:before{
  content: "";
  display: block;
  background: url("https://dsm01pap002files.storage.live.com/y4p0KRDaDQV9oD97a4XQye5B4JQJpVgaO28Wcy9J1TgvKFriebscwxbIJZCBrZCVa_-Dxlz-JMfS3iPuJ7kn4XTO3lBSmtDgq95th1dJhnWYpCFTX4kBpquhaCf5zhp2dUS_A95sQx81Rxyr_nvHqr8uzZ9w-HtEj0i2Uugg_qowMmLcQQMf2f9zl7zky0H4T2U/related.png?psid=1&width=67&height=59") no-repeat;
  width: 80px;
  height: 50px;
  float: left;
} 

@media only screen and (max-width: 768px) {
  html,
  body {
    font-size: 15px;
    width: 100%;
    line-height: 150%;
  }
  .container {
    width: 100%;
  }
  #header .header-container {
    padding: 0;
  }
  #header .container {
    padding-left: 0;
    padding-right: 0;
  }
  .home_module .top-article-container {
    padding: 0 15px 30px;
  }
  .home_module .top-article-container .top-article-item-container {
    padding: 15px 0;
  }
  .home_module
    .top-article-container
    .top-article-item-container
    div.row
    > div {
    padding: 0 15px !important;
  }
  #header {
    border-top: 0;
  }
  #header.fixed-top {
    position: fixed;
    top: 0;
    height: auto;
  }
  #header.fixed-top + .header-fixed-top-container {
    height: 70px;
  }
  #header #nav-standard {
    display: none;
  }
  #header #nav-standard-mobile {
    display: block;
  }
  #header #nav-social-mobile {
    display: block;
  }    
  #header #social-container-mobile {
    display: block;
  }      
  
  #header .social-container {
    display: none;
  }
  #header .search-container {
    display: none;
  }
  #header .header-logo-separator {
    display: none;
  }
  #header #mobile-menu-trigger {
    display: block;
  }
  #header #mobile-search {
    display: block;
  }
  #header .header-logo {
    margin: 0 auto;
    padding: 10px 0;
    display: block;
  }
  #header .header-logo > img {
    height: 50px;
    margin: 0 auto;
  }
  #header.fixed-top .header-container {
    padding-left: 0;
    padding-right: 0;
  }
  #header .search-mobile-container {
    display: block;
    background-color: #fff;
  }
  body h1 {
    font-size: 1.143rem;
    line-height: 150%;
  }
  .banner-container > .container {
    padding: 0;
  }
  div#top_banner {
    height: 310px !important;
    overflow: visible;
    margin-bottom: 120px !important;
  }
  div#top_banner .camera_fakehover {
    height: 310px;
  }
  div#top_banner .camera_fakehover .camera_target_content {
    overflow: visible;
  }
  div#top_banner .camera-slider-container {
    padding: 0;
  }
  div#top_banner .camera-control-container {
    position: absolute;
    top: 100%;
  }
  div#top_banner .camera-slider-image {
    position: relative;
    width: 100%;
    padding: 0;
    right: 0;
    height: 200px;
    z-index: 9;
    top: 0;
    margin: 0;
    max-width: inherit;
  }
  div#top_banner .camera-slider-image .slider-image {
    border: 0;
    background-position: center;
    background-size: cover;
    height: 100%;
  }
  div#top_banner .camera_prev {
    opacity: 1 !important;
    bottom: 40px;
    top: auto;
    left: 10px;
    z-index: 99;
  }
  div#top_banner .camera_next {
    opacity: 1 !important;
    bottom: 40px;
    top: auto;
    right: 10px;
    z-index: 99;
  }
  div#top_banner .slider-btn-mobile {
    z-index: 11;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  div#top_banner .slider-btn-mobile > a {
    height: 100%;
  }
  div#top_banner .camera-slider-content-container {
    z-index: 10;
    height: 110px;
    text-align: center;
    position: relative;
    width: 100%;
    top: -6px;
    left: 0;
    background-color: #fff;
  }
  div#top_banner .camera-slider-content-container .slider-title {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 5px;
  }
  div#top_banner .camera-slider-content-container .slider-content {
    display: none;
  }
  div#top_banner .camera-slider-content-container .slider-mobile-content {
    border: 2px solid #fdeaec;
    height: 110px;
    display: block;
    width: 100%;
    text-align: left;
    padding: 0 10px;
    position: absolute;
    bottom: -120px;
    overflow: hidden;
  }
  div#top_banner .camera-slider-content-container .slider-mobile-content > a {
    height: 100%;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  div#top_banner
    .camera-slider-content-container
    .slider-mobile-content
    .slider-mobile-article-image {
    display: inline-block;
    width: 30%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  div#top_banner
    .camera-slider-content-container
    .slider-mobile-content
    .slider-mobile-article-content {
    display: inline-block;
    width: 65%;
    padding-left: 20px;
    vertical-align: top;
    padding: 10px;
    height: 100%;
  }
  div#top_banner
    .camera-slider-content-container
    .slider-mobile-content
    .article-tags {
    display: block;
  }
  div#top_banner .camera-slider-content-container .article-tags {
    display: none;
  }
  div#top_banner .camera-slider-content-container .slider-btns {
    display: none;
  }
  div#top_banner .camera_pag {
    left: 0;
    bottom: 20px;
    position: relative;
    text-align: center;
  }
  div#top_banner .camera_pag .camera_pag_ul {
    text-align: center;
  }
  div#top_banner .camera_pag .camera_pag_ul li {
    background-color: #e2e4e5;
    margin: 0 5px;
  }
  div#top_banner .camera_pag .camera_pag_ul li.cameracurrent {
    background: #ffd048;
  }
  div#top_banner .camera_pag .camera_pag_ul li.cameracurrent > span {
    background: #ffd048;
  }
  div#top_banner .camera_pag .camera_pag_ul li:hover {
    background: #ffd048;
  }
  div#top_banner .camera_pag .camera_pag_ul li:hover > span {
    background: #ffd048;
  }
  div#top_banner.home_banner .camera_pag .camera_pag_ul li.cameranext::before {
    content: "";
    position: absolute;
    left: -9px;
    top: 16px;
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #ccc;
    clear: both;
  }
  div#top_banner.home_banner .camera_pag .camera_pag_ul li.cameranext::after {
    content: "";
    position: absolute;
    left: -8px;
    top: 17px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    clear: both;
  }
  div#top_banner.landing .camera_fakehover {
    height: 380px;
  }
  div#top_banner.landing {
    height: 380px !important;
    overflow: hidden;
    margin-bottom: 0 !important;
  }
  div#top_banner.landing .camera-slider-image {
    position: relative;
    width: 100%;
    padding: 0;
    right: 0;
    height: 235px;
    z-index: 9;
  }
  div#top_banner.landing .camera-slider-image .slider-image {
    border: 0;
    background-position: center;
    background-size: cover;
    height: 100%;
  }
  div#top_banner.landing .camera-slider-content-container {
    z-index: 10;
    height: 145px;
    text-align: center;
    position: relative;
    width: 100%;
    top: -6px;
    left: 0;
    background-color: #fff;
  }
  div#top_banner.landing .camera-slider-content-container > .slider-title {
    display: none;
  }
  div#top_banner.landing
    .camera-slider-content-container
    .slider-mobile-content {
    bottom: 0;
    height: 145px;
    border: none;
  }
  div#top_banner.landing
    .camera-slider-content-container
    .slider-mobile-content-right {
    width: 100%;
    display: inline-block;
    padding-left: 80px;
    text-align: center;
  }
  div#top_banner.landing
    .camera-slider-content-container
    .slider-mobile-content-right
    .slider-title {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    width: 100%;
    display: inline-block;
    font-size: 18px;
    text-align: left;
  }
  div#top_banner.landing .camera-slider-content-container .top-num {
    display: inline-block;
    margin-top: 10px;
    position: absolute;
    top: 0;
  }
  div#top_banner.landing .camera-slider-content-container .article-rank {
    display: none;
  }
  div#top_banner.landing .camera-slider-content-container .mobile-cat {
    width: 175px;
    margin-top: -5px;
    bottom: 35px;
    display: block;
    left: 40%;
    position: absolute;
  }
  div#top_banner.landing .camera_pag {
    display: block;
  }
  div#top_banner.landing .camera_pag .camera_pag_ul li {
    background: #fff;
    border: 1px solid #82736b;
  }
  div#top_banner.landing .camera_pag .camera_pag_ul li.cameracurrent {
    background: #82736b;
  }
  div#top_banner.landing .camera_pag .camera_pag_ul li.cameracurrent > span {
    background: #82736b;
  }
  div#top_banner.landing .camera_pag .camera_pag_ul li:hover {
    background: #82736b;
  }
  div#top_banner.landing .camera_pag .camera_pag_ul li:hover > span {
    background: #82736b;
  }
  div#top_banner.landing .camera_prev {
    display: none;
  }
  div#top_banner.landing .camera_next {
    display: none;
  }
  div#top_banner + .banner-bottom-shadow {
    display: none;
  }
  .home_module div#top_banner .cameraContent {
    background-color: #fff !important;
  }
  .category-slider-container {
    padding-bottom: 20px;
  }
  #category_post_slider {
    margin-top: 100px;
  }
  #category_post_slider .post {
    padding: 0 20px;
    margin-bottom: 15px;
  }
  #category_post_slider .category-post-container .category-post-title {
    margin-top: 0;
  }
  #category_post_slider
    .post:first-child
    .category-post-container
    .category-post-title {
    padding: 0;
  }
  #category_post_slider .post .border-right {
    display: none;
  }
  #category_post_slider .camera_pag {
    top: -60px;
    width: 100%;
  }
  #category_post_slider .camera_pag .camera_pag_ul {
    height: 36px;
    text-align: center;
    padding-left: 15px;
    border: none;
    background-color: transparent;
    border-radius: none;
  }
  #category_post_slider .camera_pag .camera_pag_ul li {
    border-radius: 0;
    background: 0 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 137px;
    height: 30px;
    position: relative;
    margin-right: 0;
    margin-left: -10px;
    overflow: hidden;
    border-radius: 0 !important;
  }
  #category_post_slider .camera_pag .camera_pag_ul li:first-child {
    margin-left: 0;
    z-index: 1003 !important;
  }
  #category_post_slider .camera_pag .camera_pag_ul li > span {
    border-radius: 0;
    border: 1px solid #000;
    top: 0;
    left: 0;
    background: 0 0;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    overflow: visible;
  }
  #category_post_slider .camera_pag .camera_pag_ul li::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 0 0 30px;
    border-color: transparent transparent transparent #000;
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    right: -3px;
  }
  #category_post_slider .camera_pag .camera_pag_ul li::after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 29px 0 0 29px;
    border-color: transparent transparent transparent #fff;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
  #category_post_slider .camera_pag .camera_pag_ul li:first-child > span {
    background-position: -41px -159px;
    width: 110px;
    height: 30px;
  }
  #category_post_slider .camera_pag .camera_pag_ul li:nth-child(2) {
    width: 132px;
    z-index: 1002 !important;
  }
  #category_post_slider .camera_pag .camera_pag_ul li:nth-child(2) > span {
    background-position: -170px -89px;
    width: 105px;
    height: 30px;
  }
  #category_post_slider .camera_pag .camera_pag_ul li:nth-child(3) {
    width: 119px;
    z-index: 1001 !important;
  }
  #category_post_slider .camera_pag .camera_pag_ul li:nth-child(3) > span {
    background-position: -293px -89px;
    width: 92px;
    height: 30px;
  }
  #category_post_slider .camera_pag .camera_pag_ul li:nth-child(3)::before {
    right: -3px;
  }
  #category_post_slider .camera_pag .camera_pag_ul li:nth-child(3)::after {
    right: 0;
  }
  #category_post_slider .camera_pag .camera_pag_ul li.camera_hover::after,
  #category_post_slider .camera_pag .camera_pag_ul li:hover::after,
  #category_post_slider .camera_pag .camera_pag_ul li.cameracurrent::after {
    border-color: transparent transparent transparent #fbc738;
  }
  #category_post_slider .camera_pag .camera_pag_ul li > span::before {
    content: "LIFESTYLE";
    color: #000;
    text-indent: 0;
    position: absolute;
    top: 5px;
    left: 10px;
    font-style: italic;
    letter-spacing: 3px;
    font-size: 14px;
  }
  #category_post_slider
    .camera_pag
    .camera_pag_ul
    li:nth-child(2)
    > span::before {
    content: "FASHION";
  }
  #category_post_slider
    .camera_pag
    .camera_pag_ul
    li:nth-child(3)
    > span::before {
    content: "BEAUTY";
  }
  #category_post_slider .camera_pag .camera_pag_ul li.camera_hover > span,
  #category_post_slider
    .camera_pag
    .camera_pag_ul
    li.camera_hover.cameracurrent
    > span,
  #category_post_slider .camera_pag .camera_pag_ul li:hover > span,
  #category_post_slider .camera_pag .camera_pag_ul li.cameracurrent > span {
    background: 0 0;
    background-color: #fbc738;
    background-image: none !important;
  }
  #category_post_slider
    .camera_pag
    .camera_pag_ul
    li:first-child.camera_hover
    > span,
  #category_post_slider .camera_pag .camera_pag_ul li:first-child:hover > span,
  #category_post_slider
    .camera_pag
    .camera_pag_ul
    li:first-child.cameracurrent
    > span {
    background-position: -41px -90px;
  }
  #category_post_slider
    .camera_pag
    .camera_pag_ul
    li:nth-child(2).camera_hover
    > span,
  #category_post_slider .camera_pag .camera_pag_ul li:nth-child(2):hover > span,
  #category_post_slider
    .camera_pag
    .camera_pag_ul
    li:nth-child(2).cameracurrent
    > span {
    background-position: -170px -158px;
  }
  #category_post_slider
    .camera_pag
    .camera_pag_ul
    li:nth-child(3).camera_hover
    > span,
  #category_post_slider .camera_pag .camera_pag_ul li:nth-child(3):hover > span,
  #category_post_slider
    .camera_pag
    .camera_pag_ul
    li:nth-child(3).cameracurrent
    > span {
    background-position: -293px -231px;
  }
  .cat_module .content-container {
    background-color: #fdeaec;
    padding-top: 0;
  }
  .cat_module #right-box {
    margin-top: 30px;
  }
  .cat_module .category-post-container .post {
    padding-left: 15px;
    padding-right: 15px;
  }
  .cat_module .category-post-container .post .post-content-container {
    padding: 10px;
    min-height: auto;
  }
  .cat_module.subcat .category-post-container .post {
    padding-left: 10px;
    padding-right: 10px;
  }
  .cat_module .video-container {
    padding: 15px 15px 0;
  }
  .cat_module .video-list-container {
    padding: 0 20px;
  }
  .cat_module .video-list-container .video-item {
    padding: 0;
  }
  .cat_module .video-content-container {
    margin-bottom: 15px;
  }
  .cat_module .video-content-container .video-content-box .video-button {
    padding-top: 10px;
  }
  .cat_module .video-content-container .video-image-container {
    padding: 10px 15px 30px 25px;
  }
  .cat_module
    .video-content-container
    .top-1-video-container
    .video-image-container:not(.mobile) {
    display: none;
  }
  .cat_module .video-content-container .top-1-video-container .mobile {
    display: block;
  }
  .cat_module
    .video-content-container
    .top-1-video-container
    .video-content-container {
    margin-top: 10px;
  }
  .cat_module .video-container .top-2-video-container {
    padding-bottom: 20px;
  }
  .cat_module .landing-banner-additional {
    position: relative;
    padding: 15px;
    background-color: #fdeaec;
    display: block;
  }
  .cat_module .landing-banner-additional .additional-item {
    background-color: #fff;
    position: relative;
    padding: 15px 5px 0;
    border-bottom: 1px;
    border-bottom-style: dotted;
  }
  .cat_module .landing-banner-additional .additional-item:first-child {
    padding-top: 10px;
  }
  .cat_module .landing-banner-additional .additional-item > a {
    height: 100%;
  }
  .cat_module .landing-banner-additional .additional-item:last-child {
    border-bottom: 0;
  }
  .cat_module .landing-banner-additional .additional-image {
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;
    display: inline-block;
  }
  .cat_module .landing-banner-additional .additional-content-container {
    width: 65%;
    display: inline-block;
    background-color: #fff;
    vertical-align: top;
    padding: 5px 5px 10px;
  }
  .cat_module
    .landing-banner-additional
    .additional-content-container
    .article-rank.top-2 {
    margin-top: -5px;
  }
  .cat_module
    .landing-banner-additional
    .additional-content-container
    .article-rank.top-3 {
    margin-top: -5px;
  }
  .cat_module.subcat #top-category-post-container {
    padding-bottom: 10px;
  }
  .cat_module.subcat #top-category-post-container .container {
    padding-left: 0;
    padding-right: 0;
  }
  .cat_module.subcat #top-category-post-container .post-container {
    height: auto;
  }
  .cat_module.subcat #top-category-post-container .post-container .post-image {
    height: auto;
  }
  .cat_module.subcat
    #top-category-post-container
    .post-container
    .post-content-container {
    padding-top: 10px;
  }
  .cat_module.subcat
    #top-category-post-container
    .post-container
    .post-content-container
    .post-content {
    padding-left: 25px;
    padding-right: 25px;
  }
  .mobile-header-sub-cat {
    display: block;
  }
  .home_module .latest-article-container .post {
    padding-left: 10px;
    padding-right: 10px;
  }
  .home_module .article-container {
    background-color: #fdeaec;
  }
  .home_module .top-article-container {
    background-color: #fff;
    padding-bottom: 30px;
  }
  .home_module .top-article-container .title-bg {
    padding: 20px 0;
    margin: 0 auto;
  }
  .home_module .top-article-container .article-image-container {
    padding: 0;
  }
  .home_module .top-article-container .article-image-bg {
    display: none;
  }
  .home_module .top-article-container .top-article-item {
    padding-bottom: 15px;
  }
  .home_module .editor-pick-container {
    display: none;
  }
  .home_module .recommended-video-container {
    background-color: #fdeaec;
    margin: 0;
    padding: 15px 0;
  }
  .home_module .recommended-video-container .video {
    display: none;
  }
  .home_module .recommended-video-container .video.mobile {
    display: block;
    padding-top: 10px;
  }
  .home_module .recommended-video-container .video.mobile .video-header {
    background-color: #fff;
    padding-top: 10px;
  }
  .home_module .recommended-video-container .video.mobile .video-header > img {
    margin: 0 auto;
  }
  .home_module
    .recommended-video-container
    .video.mobile
    .latest-video-container {
    position: relative;
    padding-bottom: 15px;
    background-color: #fff;
  }
  .home_module
    .recommended-video-container
    .video.mobile
    .latest-video-container
    div.latest-video-item {
    background-color: #fff;
    position: relative;
    padding: 15px 15px 0;
    border-bottom: 1px;
    border-bottom-style: dotted;
  }
  .home_module
    .recommended-video-container
    .video.mobile
    .latest-video-container
    div.latest-video-item
    > a {
    height: 100%;
  }
  .home_module
    .recommended-video-container
    .video.mobile
    .latest-video-container
    div.latest-video-image {
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;
    display: inline-block;
  }
  .home_module
    .recommended-video-container
    .video.mobile
    .latest-video-container
    .latest-video-item:last-child {
    border-bottom: 0;
  }
  .home_module .article-container {
    margin-top: 0;
  }
  .home_module
    .article-container
    .latest-article-container
    .latest-article-title {
    display: none;
  }
  .home_module .latest-article-container .post .post-content-container {
    min-height: auto;
    padding: 10px;
  }
  .handmade-container {
    padding-bottom: 0;
  }
  .handmade-container .handmade-header {
    display: none;
  }
  .handmade-container .handmade-header.mobile {
    display: block;
  }
  .handmade-container > .container {
    background-color: #f9f9f3;
    padding-bottom: 15px;
  }
  .handmade-container .handmade-items {
    display: none;
  }
  .handmade-container .handmade-items.mobile {
    display: block;
  }
  .handmade-container .handmade-items.mobile .handmade-item {
    max-width: inherit;
    margin: 0;
    padding: 15px 5px;
  }
  .handmade-container .handmade-items.mobile .handmade-item .handmade-title {
    margin-top: 10px;
  }
  .handmade-container
    .handmade-items.mobile
    .handmade-item
    .handmade-image-container
    .share {
    display: none;
  }
  .article_module #content-container {
    padding-top: 0;
  }
  .article_module #content-container > .content-container {
    padding-top: 15px;
  }
  .article_module .article-content-container {
    padding-bottom: 10px;
  }
  .article_module
    .article-content-container
    .article-content
    .fb-video.fb-video-fixed-width {
    max-width: 100% !important;
  }
  .article_module .article-content-container > .article-content img {
    max-width: 100%;
  }
  .article_module .article-content-container .other-articles {
    display: none;
  }
  .article_module .recommended-article-container {
    display: none;
  }
  .article_module .recommended-article-container .recommended-header {
    height: 60px;
  }
  .article_module .recommended-article-container .post {
    padding-right: 15px;
  }
  .article_module .recommended-article-container .post-container {
    margin: 0;
    padding: 15px 0;
    border-bottom: 1px dotted #90714c;
  }
  .article_module .recommended-article-container .post-container:first-child {
    border-top: 1px dotted #90714c;
  }
  .article_module .recommended-article-container .post-container .post-image {
    width: 35%;
    display: inline-block;
    height: 110px;
  }
  .article_module .recommended-article-container .post-content-container {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    height: auto;
    padding: 0 0 0 5px;
    min-height: inherit;
    background-color: #fbfcfc;
  }
  .article_module .recommended-article-container .btn-loadmore {
    display: block;
  }
  .article_module #right-box {
    margin-top: 10px;
  }
  .article_module .article-content-container > .article-date {
    margin-top: 10px;
  }
  .article_module #right-box > img {
    margin: 0 auto;
  }
  .article_module #right-box .latest-video-slider-header {
    display: none;
  }
  .article_module #right-box .latest-video-slider-container {
    display: none;
  }
  .article_module #right-box .top-article-container {
    display: none;
  }
  .article_module .ig-container {
    margin-top: 0;
  }
  .cat_module:not(.subcat) #sub-category-menu-trigger {
    display: block;
  }
  nav.navbar.mobile.subcat ul.nav > li:focus > a,
  nav.navbar.mobile.subcat ul.nav > li:hover > a {
    background-color: #fcdce0;
  }
  .ig-container {
    background-color: #f8fbfc;
  }
  .ig-container .ig-slider-container {
    max-width: 564px;
  }
  .ig-container .ig-bg-container .ig-bg {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
  }
  .ig-slider-container .bx-wrapper .bx-pager.bx-default-pager .bx-pager-item {
    max-width: 20px;
  }
  .event_module .button-container {
    float: left !important;
  }
  .search_module .search-post-container .post {
    padding-right: 15px;
    padding-left: 15px;
  }
  .home-article-slider-container {
    margin: 0;
  }
  .home-article-slider-container .bx-wrapper .bx-pager {
    padding-top: 0;
    bottom: auto;
  }
  .home-article-slider-container
    .bx-wrapper
    .bx-controls
    .bx-controls-direction
    .bx-next {
    display: none;
  }
  .home-article-slider-container
    .bx-wrapper
    .bx-controls
    .bx-controls-direction
    .bx-prev {
    display: none;
  }
  body.christmas .session-top,
  body.lunarnewyear .session-top,
  body.summer .session-top {
    padding-top: 60px;
  }
  body.christmas .session-top:after,
  body.lunarnewyear .session-top:after,
  body.summer .session-top:after {
    width: 150vw;
    height: 125vw;
    max-width: 700px;
    max-height: 700px;
  }
  body.christmas .session-top .btn-back,
  body.lunarnewyear .session-top .btn-back,
  body.summer .session-top .btn-back {
    width: 120px;
    top: 10px;
  }
  body.christmas
    #content-container
    .session-swiper-container
    .swiper-button-prev,
  body.lunarnewyear
    #content-container
    .session-swiper-container
    .swiper-button-prev,
  body.summer #content-container .session-swiper-container .swiper-button-prev {
    transform: translateY(-50%) scale(0.7);
    body.christmas
      #content-container
      .session-swiper-container
      .swiper-button-next,
    body.lunarnewyear
      #content-container
      .session-swiper-container
      .swiper-button-next,
    body.summer
      #content-container
      .session-swiper-container
      .swiper-button-next {
      transform: translateY(-50%) scale(0.7);
    }
    body.career_module .header-bg-container {
      height: 176px;
    }
    body.career_module .aboutus-container .aboutus-image img.left {
      display: none;
    }
    body.career_module .aboutus-container .aboutus-image img.right {
      display: none;
    }
    body.career_module .benefit-container .benefit-box .benefit-item {
      padding: 0px 20px;
    }
    body.career_module .benefit-container .benefit-box .benefit-item > label {
      height: calc(0.875rem * 3 * 1.25);
    }
    body.career_module #jobs-accordion .accordion-item .accordion-header a {
      padding: 10px 20px 10px 30px;
      letter-spacing: 0px;
    }
    body.career_module
      #jobs-accordion
      .accordion-item
      .accordion-header
      a:before {
      width: 20px;
      height: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
    body.career_module
      #jobs-accordion
      .accordion-item
      .accordion-header
      a
      .toggle-button {
      width: 20px;
      height: 20px;
    }
    body.career_module #jobs-accordion .accordion-item .accordion-detail {
      padding: 10px 20px;
    }
  }